@import "~bootstrap/scss/bootstrap";
@import "./card";

.header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px 2px;
}
@media (max-width:600px){
  .header{
   padding-bottom: 0;
  }
}
.companyname{
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
}

body{
  margin: 0;
  padding: 0;
  width:100%;
  font-family: sans-serif;
  background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  background-size: 400%;
  animation: bg-animation 15s infinite;
}

.travellogo {
  width: 80px;
 }
 @media (max-width:600px){
   .travellogo{
    width: 40px;
   }
 }
ul{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style: none;
}
ul li a{
  position: relative;
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  width:100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width:600px){
  ul li a{
   font-size: 10px;
  }
}

.carousel{
  margin: 60px 0;
}



.text{
  color: white;
  text-align:center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  font-size: 44px;
  font-weight:bold;
}
@media (max-width:600px){
  .text{
   font-size: 30px;
  }
}

.text:hover{
  background-color: #f39c12;
}

.intro{
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
@media (max-width:600px){
  .intro{
   font-size: 15px;
  }
}

@keyframes bg-animation {
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
}

.big-circle {
  position: absolute;
  top: -100px;
  left: -50px;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #d9e1e5;
  opacity:0.5;
}
.bubbels{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.singlebubbel{
  position: absolute;
  bottom: 0;
  background: #f1f1f1;
  border-radius:50%;
  opacity: 0.3;
  animation: fly 15s infinite ease-in;
}

.singlebubbel:nth-child(1){
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.singlebubbel:nth-child(2){
  width: 30px;
  height: 30px;
  left: 30%;
  animation-duration: 4s;
  animation-delay: 1s;
}
.singlebubbel:nth-child(3){
  width: 10px;
  height: 10px;
  left: 42%;
  animation-duration: 7s;
  animation-delay: 3s;
}
.singlebubbel:nth-child(4){
  width: 75px;
  height: 75px;
  left: 50%;
  animation-duration: 6s;
  animation-delay: 0s;
}
.singlebubbel:nth-child(5){
  width: 40px;
  height: 40px;
  left: 60%;
  animation-duration: 5s;
  animation-delay: 1.5s;
}
.singlebubbel:nth-child(6){
  width: 53px;
  height: 53px;
  left: 73%;
  animation-duration: 8s;
  animation-delay: 2s;
}

@keyframes fly{
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%{
    transform: translateX(100px);
  }
  0%{
    bottom: 1080px;
    transform: translateX(-200px);
  }
}

.abouttitle{
  font-weight: 700;
  font-size: 40px;
  font-family: sans-serif;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (max-width:600px){
  .abouttitle{
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
  }
}
.about{
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  font-size: 25px;
}
@media (max-width:600px){
  .about{
   font-size: 20px;
  }
}
.address{
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}
@media (max-width:600px){
  .address{
   font-size: 15px;
  }
}
.contact{
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}
@media (max-width:600px){
  .contact{
   font-size: 15px;
  }
}
.goals{
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}
@media (max-width:600px){
  .goals{
   font-size: 15px;
  }
}

#map {
  height: 400px;
  margin-bottom: 30px;
}
@media (max-width:600px){
  #map{
   height: 300px;
  }
}


.footer {
  background-color: white;
  color:black;
  padding:18px 0;
  margin-top: 20px;
  border-top: 3px solid black;
  text-align: center;
  bottom:0;
  width:100%;

&-logo {
  width:80px;
  margin:0 auto;
 }
 &-copyright {
   font-size: 15px;
 }
}
@media (max-width:600px){
  .footer-logo{
   width: 40px;
  }
}
@media (max-width:600px){
  .footer{
   font-size: 9px;
  }
}
